{{define "head"}}
<style>
    hr{ border: 1px #ccc dashed;}
    table{
        text-align:center; 
        width:70%;
        margin-left:auto; 
        margin-right:auto;
        border: 1px solid black;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
        border-radius: 8px;
    }
    .button-red {background-color: #f44336;}
    .button-yelow {background-color: #FFD54F;}
</style>
{{end}}

{{define "content"}}
<h1>IPA Manager</h1>
<hr>

{{ $service_url := .service_url }}

<table cellpadding="1" cellspacing="1" >
    <tbody>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Bundle Identifier</th>
            <th>Bundle Name</th>
            <th>Bundle Display Name</th>
            <th>Bundle Version</th>
            <th>Bundle Short Version</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        {{range .ipas}}
        <tr>
            <td>{{.ID}}
            <td><a href={{.URL}}>{{.URL}}</a></td>
            <td>{{.CFBundleIdentifier}}</td>
            <td>{{.CFBundleName}}</td>
            <td>{{.CFBundleDisplayName}}</td>
            <td>{{.CFBundleVersion}}</td>
            <td>{{.CFBundleShortVersionString}}</td>
            <td>{{.DateTime}}</td>
            <td>
                <button class="button" onClick="parent.location='itms-services://?action=download-manifest&url={{$service_url}}/ipa/{{.CFBundleName}}-{{.CFBundleVersion}}/{{.CFBundleName}}.plist'">Install IPA</button>
                <form id="qr-form{{.ID}}" action="/action/qr" enctype="application/x-www-form-urlencoded" method="post">
                    <input type="hidden" name="url" value="itms-services://?action=download-manifest&url={{$service_url}}/ipa/{{.CFBundleName}}-{{.CFBundleVersion}}/{{.CFBundleName}}.plist">
                    <input type="hidden" name="version" value="{{.CFBundleVersion}}">
                </form>
                <button class="button" type="submit" form="qr-form{{.ID}}" value="qr">Get QR</button>
                <form id="remove-form" action="/action/remove" enctype="application/x-www-form-urlencoded" method="post">
                    <input type="hidden" name="id" value={{.ID}}>
                </form>
                <button class="button button-red" type="submit" form="remove-form" value="remove">Delete IPA</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<hr>
{{end}}